body {
    background-color: black;
    width: fit-content;
    height: fit-content;
    color: white;
}

img {
    width: 450px;
    height: 450px;
   }

   a {
    text-decoration: none;
    color: blue;
   }

   body {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

   .main, .contact {
    display: flex;
    /* margin-left: 2rem; */
    width: 98%;
    justify-content: space-between;
}

   .para {
    /* word-spacing: 1em; */
    width: 50%;
    text-align: justify;
   }
   li {
    padding: 12px;
   }

   #navbar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 5px;
    background: var(--main-red);
   }

   .nav {
    display: flex;
    margin-left: 2rem;
}

ul {
    list-style: none;
}